!!!
%html
  %head
    %link{:href => "/css/icrt.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/bootstrap-responsive.min.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA'Compatible"}/
    %title
      Instructure Conference Room Tracker
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  %body
    .contnet-wrapper
      .container
        .page-header.title
          %h1
            Instructure Conference Room Tracker
            %small App by Dave Jungst & Jake Sorce
        %img.pull-left{:class => "map", :border => "0", :height => "365", :src => "images/conference_rooms.png", :usemap => "#map", :width => "756"}/
        %map.map{:name => "map"}
          %area{:href => "#", :coords => "84,225,159,325", :class => "room", :id => "instructure.com_3336383934393632323839@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "161,225,214,275", :class => "room", :id => "instructure.com_35353435363634322d353735@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "160,275,215,326", :class => "room", :id => "instructure.com_2d3433363235383239373538@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "308,261,424,331", :class => "room", :id => "instructure.com_34323832363030373531@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "425,275,476,331", :class => "room", :id => "instructure.com_2d38353538383937372d353232@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "425,218,477,274", :class => "room", :id => "instructure.com_2d3134383735383530393230@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "410,48,481,130", :class => "room", :id => "instructure.com_2d35323436363732342d313434@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "511,102,568,147", :class => "room", :id => "instructure.com_2d35363438313633332d373831@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "511,49,568,100", :class => "room", :id => "instructure.com_2d35313039343536312d333839@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "615,181,665,243", :class => "room", :id => "instructure.com_2d34333836313235352d373338@resource.calendar.google.com", :shape => "rect"}/
          %area{:href => "#", :coords => "666,181,715,243", :class => "room", :id => "instructure.com_2d3939343731333536343132@resource.calendar.google.com", :shape => "rect"}/
        #time_frame.pull-left
          %label{:for => 'time_select'} Time Frame: Default - Now Until 30 Minutes From Now
          %select#time_select
            %option
              %p :30 
            %option
              %p 1:00 
            %option
              %p 1:30 
            %option
              %p 2:00
            %option
              %p 2:30
            %option
              %p 3:00
            %option
              %p 3:30
            %option
              %p 4:00
    = haml :update_event
  %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
  %script{:type => "text/javascript", :src => "/javascripts/bootstrap.min.js", "data-toggle" => "tab"}
  %script{:type => "text/javascript", :src => "/javascripts/jquery.maphilight.js", "data-toggle" => "tab"}
  %script{:type => "text/javascript", :src => "/javascripts/bootbox.min.js", "data-toggle" => "tab"}
  %script{:type => "text/javascript", :src => "/javascripts/icrt.js", "data-toggle" => "tab"}
